@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

body {
    font-family: 'Lato', sans-serif;
    height: 10000px;

    
}
.common-btn {
    font-family: 'Raleway',serif;
    font-weight: 400;
    background: none;
    border: none;
    color: #fff;
    background-color: #242424;
    font-size: 20px;
    padding: 17px 35px;
}
.common-btn:hover {
    transition: 0.2s;
    background-color: #ff0036;
}

.common-action {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h3{
        font-size: 30px;
        font-family: 'Raleway';
        font-weight: bold;
        margin-bottom: 50px;
        color: #fff;
        span{
            color: #ff0036;
        }
    }
    p{
        color: #a4a4a4;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: bold;
        span {
            color: #ff0036;
        }
    }
}
.deco-stroke {
    display: block;
    text-align: center;
    position: relative;
}
.deco-stroke::before{
   position: absolute;
   z-index: -10;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.637);
      
}
.deco-stroke_red{
        transform: translateY(40%);
}
.deco-stroke_red::before{
    position: absolute;
    z-index: 10;
     top: 55%;
     left: 50%;
     transform: translateX(-50%);
     content: '';
     display: block;
     margin: 0 auto;
     width: 50%;
     height: 1px;
     background-color: #ff0036 !important;
       
 }


header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #08080c;
    .container {
    display: flex;
   
    .row{
        display: flex;
        width: 100%;
        
    }
    }
    
    .logo {
        
        img{
            cursor: pointer;
            position: absolute;
            width: 75%;
            
        }

    }
    nav {
        widows: 100%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            padding: 0;margin: 0;
            list-style: none;
            

            li{
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                width: auto;
                
                p{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                   
                }
            }
            li:hover::before, li:hover::after {
                
                content: '';
                width: 30%;
                height: 2px;
                background-color: red;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
               
            }
            li:hover::after{
                top: 0;
            }
            li:hover {
                transition: 0.2s;
                color: #fff;
            }
        }
        color: #a4a4a4;
        height: 60px;
        display: flex;

        

    }         
}

.slider {
    position: relative;
    background-image: url('../img/slider/bg.png');
    width: 100%;
    &__card{
        padding-top: 180px;
        padding-bottom: 210px;
        
        display: block;
        
        h2{ 
            color: #fff;
            span {
                color: #ff1717;
            };
            display: block;
            text-align: center;
            font-family: 'Raleway', serif;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 52px;
        }
        p{
            color: #fff;
            font-size: 16px;
            display:block;
            margin: 0 auto;
            text-align: center;
            width: 75%;
            margin-bottom: 50px;
            
        }

       
    }
    &__btn-block{
        display: block;
        text-align: center;
        button:first-child{
            margin-right: 30px;
        }
    }
    &__arrow{
        border: none;
        width: 17px;
        height: 28px;
        background: url('../img/slider/arrow.png');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__arrow_right{
        right: 30px;
        background: url('../img/slider/right-arrow.png');
    }
    &__arrow_left{
        left: 30px;
    }
    &__arrow_right:hover{
        
        background: url('../img/slider/arrow-active.png');
    }
    &__arrow_left:hover{
        background: url('../img/slider/left-arrow-active.png');
    }


}
.about {
    &__img{
        img{
            width: 100%;
        }
    }

    &__description {
        padding-bottom: 110px;
        display: flex;
        justify-content: space-around;
        p {
            font-family: 'Lato';
            color: #505050;
            margin-bottom: 45px;
        }
    }
    &__description::after{
        content: '';
    }
    &__accordion {
        margin-bottom: 5px;
        p{
            margin: 0;
            padding: 5px;
            border: 1px solid #dbdbdb ;
            border-top: none;
            background-color: #f7f7f7;
            display: block;
            height: 0;
            overflow: hidden;
            opacity: 0;

        }
    }
    &__accordion-active {
       
        .about__svg {
            background: url('../img/about/acc-min.svg') no-repeat center;
        }

        .about__button {
            button {
                h3 {
                    color: #ff0036;
                }
            }
        }
    }


    .about__button {
       
        background: none;
        margin: 0;


        button {
            background-color: #f7f7f7;
            border: 1px solid #e4e4e4;
            margin: 0;
            padding: 0;
            width: 100%;

            display: flex;
            align-items: center;

            h3{ 
                margin: 0;
                margin-left: 30px;
                font-size: 20px;
                font-family: 'Raleway';
                
            }


        }

    }
    &__svg{
        background: url('../img/about/acc-plus.svg') no-repeat center;
        width: 23px;
        height: 38px;
        border-right: 1px solid #e4e4e4;
        padding: 15px 20px;
                       
    }
    &__features{
        margin-top: 100px;
        margin-bottom: 100px;
        .about__dignity{
            text-align: center;
            svg{
                
                margin-bottom: 35px;
            }
            h3{
                font-family: 'Raleway';
                color: #262626 ;
                font-size: 20px;
                margin-bottom: 18px;
            }
            p{
                font-size: 16px;
                color: #505050;
            }
                

        }
    }
}
.portfolio {
    position: relative;
    


    padding-top: 100px;
    background-color: #262626;
    text-align: center;
    h2{
        
        margin-bottom: 30px;
        font-family: 'Raleway';
        color: #fff;
    }
    ul {
        padding: 0;
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        list-style: none;
        
        li{
            display: inline-block;
            color: #a4a4a4;
        }
        li:hover{
            cursor: pointer;
            transition: 0.20s;
            color: #ff0036;
        }
        margin-bottom: 100px;
    }
    &__big-img{
        width: 30%;
    }
    &__small-img{
        width: 20%;
    }
    &__grid{
        margin-bottom: 110px;
    }
    &__row{

        display: flex;
        
    }
}
.features {
    &__img{
        margin-bottom: 100px;
        position: relative;
        img{
            width: 100%;
        }
        button{
            padding: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px
        }
    }     
    .features__left-aside, .features__right-aside{
        margin-top: 50px;
        ul{
            padding: 0;
            list-style: none;
            li{
                font-family: 'Raleway';
                font-weight: 500;
                width: 115%;
                height: 50px;
                margin-bottom: 23px;
                border: 1px solid rgba(0, 0, 0, 0.096);
                line-height: 50px;
                font-size: 20px;
                
            }
            li:hover {
                color: #fff;
                background-color: #ff0036;
                transition: 0.3s;
            }
         }
        }
    &__left-aside {
        ul {
            text-align: right;
            p::after{
                margin-right: 10px;
                margin-left: 10px;
                transform: translateY(7.5px);
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                background: url('../img/features/done-png.png') center no-repeat;
            }
            p:hover:after{

                transition: 0.3s;
                background: url('../img/features/done-active.png') center no-repeat !important;
            }
        }
    }
    &__right-aside {
        transform: translateX(-15%);
        ul {
            
            p::before{
                margin-right: 10px;
                margin-left: 10px;
                transform: translateY(7.5px);
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                background: url('../img/features/done-png.png') center no-repeat;
            }
            p:hover:before{
                transition: 0.3s;
                background: url('../img/features/done-active.png') center no-repeat !important;
            }
        }
    }

            
}
.clients {
    
    background: url('../img/clients/bg.png');

    .common-action {
        margin-top: 0;
        padding-top: 100px;
        h3{
            color: #fff;
        }
        p{
            color: #a4a4a4;
        }
    }
    &__main {
        color: #a4a4a4;
        display: flex;

    }
    &__slider{
        text-align: center;
        h3{
            color: #fff;
            margin-bottom: 50px;
        }
    }
    &__worker {
        margin-top: 50px;
        h3{
            margin-top: 16px;
            color: #ff0036;
            font-size: 16px;
            font-weight: bold;
        }
    }
    &__sponsors{
        
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 30px;
        .clients__visit-card{
            .clients__card-wrap{
                width: 200px;
            }
            text-align-last: left;
            display: flex;
            justify-content: center;
            align-items: center;
            background: radial-gradient(60% 60%,#fff , rgb(146, 146, 146));
            position: relative;
            img, h3{
                color: #000;
                display: inline-block;
                
            }
            img{
                width: 20%;
            }
            h3{
                width: 75%;
            }

        }
    }
}
.team {
    .common-action {
        h3{
            color: #000;
        }
    }
    &__workers {
        display: flex;
        justify-content: space-between;
    }
    &__worker{
        margin: 0 auto;
        width: 272px;
        margin-bottom: 100px;
        text-align: center;
        border: 1px solid rgb(223, 223, 223);
        h3{
            font-family: 'Raleway';
            font-size: 20px;
            color: #262626;
            margin-top: 35px;
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            color: #505050;
            margin-bottom: 35px;
            

        }
        img{
            width: 270px;
            height: 240px;
        }
    }
    &__loaders{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__load-bar{
        
        position: relative;
        color: #ff0036 !important;
        display: block;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #fff;
        padding: 40px 30px;
        font-size: 40px !important;
        text-align: center;


    }
    &__load-bar::before{
        
        content: ''; 
        display: block;
        position: absolute;
        z-index: -100;        
        width: 145px;
        height: 145px;
        left: -2px;
        top: -2px;
        
        border-radius: 50%;
        background: linear-gradient(to right,#ff0036 90%, #e0e0e0 10%);
    }
    &__load-bar_70::before{background: linear-gradient(to right,#ff0036 70%, #e0e0e0 5%);}
    &__load-bar_80::before{background: linear-gradient(to right,#ff0036 80%, #e0e0e0 30%);}
    &__loader{
        
        width: 270px;

        h3{
            
            margin-top: 25px;
            font-family: 'Raleway';
            font-size: 20px;
            color: #262626;

        }
        p{
            font-size: 16px;
            color: #505050;
            margin-bottom: 35px;
            margin-top: 25px;

        }
    }
}
.services {
    background-color: #272727;
}




// ADAPTIVE
@media screen and (max-width: 990px){
    .about__img{
        display: none;
    }
    header {
        .logo {
            
            display: none;
        }
        nav {
            ul{
                font-size: 14px;
            }
            
        }
    }
    .portfolio {
        ul{

            display: block;
            li{
                display: block;
            }
        }
    }
    .features{
        margin: 0 auto;
        .features__left-aside, .features__right-aside{
            ul {
                width: 90%;
                li{
                    width: 120%;
                    font-size: 18px;
                }
            }
        }
        .features__right-aside{
            transform: translateX(0);
        }
        &__img{

            img {
                display: block;
                margin: 0 auto;
                width: 320px;
            }
        }
    }
    .clients{
        &__sponsors{
            grid-template-columns:49% 49%;
            grid-template-rows: 100px 100px;
            grid-gap: 5px;
            padding-bottom: 0;
        }
    }
    .team{
        &__loaders {
            
            display: block;
        }
        &__loader{
            width: 40%;
            display: inline-block;
            margin-right: 20px;
           
           
        }
   }
}
@media screen and (max-width: 550px){
    header {
        position: relative;
        height: 100px;
        border-bottom: 2px solid #ff0036;
        nav {
                       
            ul {
                
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3,4fr);
                grid-template-rows: repeat(3, 50%);
            }                 
        }         
    };
    .slider {
        &__arrow{
            display: none;
            
        }
        &__btn-block{
            button:first-child{
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    .clients{
         &__sponsors{
             display: block;
             .clients__visit-card{
                 margin-bottom: 10px;
             }
         }
    }
    .team{
         &__loaders {
             
             display: block;
         }
         &__loader{
            margin: 0 auto;
            
         }
    }
}