@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

body {
    font-family: 'Lato', sans-serif;
    

    
}
.common-btn {
    font-family: 'Raleway',serif;
    font-weight: 300;
    background: none;
    border: none;
    color: #fff;
    background-color: #242424;
    font-size: 20px;
    padding: 17px 35px;
}
.common-btn:hover {
    transition: 0.2s;
    background-color: #ff0036;
}

.common-action {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h3{
        font-size: 30px;
        font-family: 'Raleway';
        font-weight: bold;
        margin-bottom: 50px;
        color: #000;
        span{
            color: #ff0036;
        }
    }
    p{
        color: #a4a4a4;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: bold;
        span {
            color: #ff0036;
        }
    }
}
.deco-stroke {
    display: block;
    text-align: center;
    position: relative;
    
}
.deco-stroke::before{
   position: absolute;
   z-index: -10;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.637);
      
}
.deco-stroke_red{
        transform: translateY(40%);
}
.deco-stroke_red::before{
    position: absolute;
    z-index: 10;
     top: 55%;
     left: 50%;
     transform: translateX(-50%);
     content: '';
     display: block;
     margin: 0 auto;
     width: 50%;
     height: 1px;
     background-color: #ff0036 !important;
       
 }


header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #08080c;
    .container {
    display: flex;
   
    .row{
        display: flex;
        width: 100%;
        
    }
    }
    
    .logo {
        
        img{
            cursor: pointer;
            position: absolute;
            width: 75%;
            
        }

    }
    nav {
        widows: 100%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            padding: 0;margin: 0;
            list-style: none;
            

            li{
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                width: auto;
                
                p{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                   
                }
            }
            li:hover::before, li:hover::after {
                transition: all 0.3s ease-in-out;
                content: '';
                width: 30%;
                height: 2px;
                background-color: red;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
               
            }
            li:hover::after{
                top: 0;
            }
            li:hover {
                transition: 0.2s;
                color: #fff;
            }
        }
        color: #a4a4a4;
        height: 60px;
        display: flex;

        

    }         
}

.slider {
    position: relative;
    background-image: url('../img/slider/bg.png');
    width: 100%;
    &__card{
        padding-top: 180px;
        padding-bottom: 210px;
        
        display: block;
        
        h2{ 
            color: #fff;
            span {
                color: #ff1717;
            };
            display: block;
            text-align: center;
            font-family: 'Raleway', serif;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 52px;
        }
        p{
            color: #fff;
            font-size: 16px;
            display:block;
            margin: 0 auto;
            text-align: center;
            width: 75%;
            margin-bottom: 50px;
            
        }

       
    }
    &__btn-block{
        display: block;
        text-align: center;
        button:first-child{
            margin-right: 30px;
        }
        button{
            font-weight: 500;
        }
    }
    &__arrow{
        border: none;
        width: 17px;
        height: 28px;
        background: url('../img/slider/arrow.png');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__arrow_right{
        right: 30px;
        background: url('../img/slider/right-arrow.png');
    }
    &__arrow_left{
        left: 30px;
    }
    &__arrow_right:hover{
        
        background: url('../img/slider/arrow-active.png');
    }
    &__arrow_left:hover{
        background: url('../img/slider/left-arrow-active.png');
    }


}
.about {
    position: relative;
    &__img{
        img{
            width: 100%;
        }
    }

    &__description {
        padding-bottom: 110px;
        display: flex;
        justify-content: space-around;
        p {
            font-family: 'Lato';
            color: #505050;
            margin-bottom: 45px;
        }
    }
    &__description::after{
        content: '';
    }
    &__accordion {
        margin-bottom: 5px;
        p{
            margin: 0;
            padding: 5px;
            border: 1px solid #dbdbdb ;
            border-top: none;
            background-color: #f7f7f7;
            display: block;
            height: 0;
            overflow: hidden;
            opacity: 0;

        }
    }
    &__accordion-active {
       
        .about__svg {
            background: url('../img/about/acc-min.svg') no-repeat center;
        }

        .about__button {
            button {
                h3 {
                    color: #ff0036;
                }
            }
        }
    }


    .about__button {
       
        background: none;
        margin: 0;


        button {
            background-color: #f7f7f7;
            border: 1px solid #e4e4e4;
            margin: 0;
            padding: 0;
            width: 100%;

            display: flex;
            align-items: center;

            h3{ 
                margin: 0;
                margin-left: 30px;
                font-size: 20px;
                font-family: 'Raleway';
                
            }


        }

    }
    &__svg{
        background: url('../img/about/acc-plus.svg') no-repeat center;
        width: 23px;
        height: 38px;
        border-right: 1px solid #e4e4e4;
        padding: 15px 20px;
                       
    }
    &__features{
        margin-top: 100px;
        margin-bottom: 100px;
        .about__dignity{
            text-align: center;
            svg{
                
                margin-bottom: 35px;
            }
            h3{
                font-family: 'Raleway';
                color: #262626 ;
                font-size: 20px;
                margin-bottom: 18px;
            }
            p{
                font-size: 16px;
                color: #505050;
            }
                

        }
    }
}
.portfolio {
    position: relative;
    padding-top: 100px;
    background-color: #262626;
    text-align: center;
    h2{       
        margin-bottom: 30px;
        font-family: 'Raleway';
        color: #fff;
    }
    ul {
        padding: 0;
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        list-style: none;
        
        li{
            display: inline-block;
            color: #a4a4a4;
        }
        li:hover{
            cursor: pointer;
            transition: 0.20s;
            color: #ff0036;
        }
        margin-bottom: 100px;
    }
    &__big-img{
        width: calc(30vw -16px);
        height: 30vh;
        
        
        img{
          height: 100%;

        }
    }
    &__small-img{
        width: 20vw;
        height: 30vh;
 
        
        
    }
    &__grid{
        transition: all 0.5s ease-in-out;
        margin-bottom: 110px;
        position: relative;

    }
    &__row{
        margin: 0 auto;
        
        .portfolio__img{
            position: relative;
            
        }

        .portfolio__img:hover::before{
            content: '';
            
            display: block;
            width: 100%;
            height: calc(100% + 1px);
            cursor: pointer;
            position: absolute;
            z-index: 100;
            left: 0;
            top: -1px;                     
            background: url(../img/portfolio/grid/hover.png)  center;
        }
        display: flex;
        justify-content: center;

    }
}
.features {
    position: relative;
    &__img{
        margin-bottom: 100px;
        position: relative;
        img{
            width: 100%;
        }
        button{
            padding: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px
        }
    }     
    .features__left-aside, .features__right-aside{
        margin-top: 50px;
        ul{
            padding: 0;
            list-style: none;
            li{
                transition: all 0.3s ease-in-out;
                font-family: 'Raleway';
                font-weight: 500;
                width: 115%;
                height: 50px;
                margin-bottom: 23px;
                border: 1px solid rgba(0, 0, 0, 0.096);
                line-height: 50px;
                font-size: 20px;
                
            }
            li:hover {
                color: #fff;
                background-color: #ff0036;
                transition: 0.3s;
            }
         }
        }
    &__left-aside {
        ul {
            text-align: right;
            p::after{
                margin-right: 10px;
                margin-left: 10px;
                transform: translateY(7.5px);
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                background: url('../img/features/done-png.png') center no-repeat;
            }
            p:hover:after{

                transition: 0.3s;
                background: url('../img/features/done-active.png') center no-repeat !important;
            }
        }
    }
    &__right-aside {
        transform: translateX(-15%);
        ul {
            
            p::before{
                margin-right: 10px;
                margin-left: 10px;
                transform: translateY(7.5px);
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                background: url('../img/features/done-png.png') center no-repeat;
            }
            p:hover:before{
                transition: 0.3s;
                background: url('../img/features/done-active.png') center no-repeat !important;
            }
        }
    }

            
}
.clients {
    position: relative;
    background: url('../img/clients/bg.png');

    .common-action {
        margin-top: 0;
        padding-top: 100px;
        h3{
            color: #fff;
        }
        p{
            color: #a4a4a4;
        }
    }
    &__main {
        color: #a4a4a4;
        display: flex;

    }
    &__slider{
        text-align: center;
        h3{
            color: #fff;
            margin-bottom: 50px;
        }
    }
    &__worker {
        margin-top: 50px;
        h3{
            margin-top: 16px;
            color: #ff0036;
            font-size: 16px;
            font-weight: bold;
        }
    }
    &__sponsors{
        
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 30px;
        .clients__visit-card{
            .clients__card-wrap{
                width: 200px;
            }
            text-align-last: left;
            display: flex;
            justify-content: center;
            align-items: center;
            background: radial-gradient(60% 60%,#fff , rgb(146, 146, 146));
            position: relative;
            img, h3{
                color: #000;
                display: inline-block;
                
            }
            img{
                width: 20%;
            }
            h3{
                width: 75%;
            }

        }
    }
}
.team {
    position: relative;
    .common-action {
        h3{
            color: #000;
        }
    }
    &__workers {
        display: flex;
        justify-content: space-between;
    }
    &__worker{
        margin: 0 auto;
        width: 272px;
        margin-bottom: 100px;
        text-align: center;
        border: 1px solid rgb(223, 223, 223);
        h3{
            font-family: 'Raleway';
            font-size: 20px;
            color: #262626;
            margin-top: 35px;
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            color: #505050;
            margin-bottom: 35px;
            

        }
        img{
            width: 270px;
            height: 240px;
        }
    }
    &__worker:hover{
        position: relative;
        h3{
            color: #ff0036;
        }
    }
    &__society{
        
        opacity: 0;
        display: none;
        justify-content: space-between;
        padding: 0 20%;
        align-items: center;
        width: 100%;
        height: 240px;
        background-color: #262626ee;
        position: absolute;
        top: 0;left: 0;
        img{
            margin-right: 10px;
            width: 45px;
            height: 41px;
        }
    }
    &__img:hover{
        
        transition: 3s;
        .team__society{
            opacity: 1;
            display: flex;

        }
        


        
    }
    &__loaders{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__load-bar{
        
        position: relative;
        color: #ff0036 !important;
        display: block;
        margin: 0 auto;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #fff;
        padding: 40px 30px;
        font-size: 40px !important;
        text-align: center;


    }
    &__load-bar::before{
        
        content: ''; 
        display: block;
        position: absolute;
        z-index: -100;        
        width: 145px;
        height: 145px;
        left: -2px;
        top: -2px;
        
        border-radius: 50%;
        background: linear-gradient(to right,#ff0036 90%, #e0e0e0 10%);
    }
    &__load-bar_70::before{background: linear-gradient(to right,#ff0036 70%, #e0e0e0 5%);}
    &__load-bar_80::before{background: linear-gradient(to right,#ff0036 80%, #e0e0e0 30%);}
    &__loader{
        
        width: 270px;

        h3{
            
            margin-top: 25px;
            font-family: 'Raleway';
            font-size: 20px;
            color: #262626;

        }
        p{
            font-size: 16px;
            color: #505050;
            margin-bottom: 35px;
            margin-top: 25px;

        }
    }
}
.services {
    position: relative;
    .deco-stroke{
        width: 100%;
        z-index: 10;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .deco-stroke::before{
        z-index: 100;
    }
    .common-action{
        margin-top: 0;
        h3{
            color: #fff;
        }
    }
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #272727;
    &__grid {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
    }
    &__card{
        img{
            margin-top: 20px;
            margin-right: 43px;
            display: inline-block;
            margin-bottom: 30px;
        }
        h3{
            color: #fff;
            display: inline-block;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 20px;
            
        }
        p{
            transition: all 0.3s ease-in-out;

            padding: 35px 0;
            padding-left: 35px;
            padding-right: 30px;
            background-color: #343434;
            color: #a4a4a4;
        }
    }
    &__card:hover {
        p{
            transition: 0.4s;
            background-color: #3d2329;
            color: rgba(255, 255, 255, 0.747);
            transform: scale(1.05);
        }
    }
}
.price{
    &__list{
        margin-bottom: 100px;
        display: flex;
        
    }
    &__card{
        h3{
            transition: all 0.2s ease-in-out;
            padding: 25px 0;
            margin: 0;
            background-color: #f2f2f2;
            font-size: 50px;
            color: #262626;
            font-weight: 700;
            span{
                font-family: 'Lato';
                font-size: 16px;
            }
        }
        margin-right: 30px;
        border: 1px solid rgb(233, 233, 233);
        text-align: center;
        width: 280px;
    }
    &__card:last-child{
        margin-right: 0;
    }
    &__card:hover{

        h3{
            transition: all 0.2s ease-in-out;
            color: #fff;
            background-color: #ff0036;
        }
    }
    &__action{
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        
    }
    &__action:hover{
        background-color: #242424;
    }
   
    ul{
        list-style: none;
        padding: 0;
        li{
            line-height: 52px;
            color: #262626;
            font-size: 16px;
            border-bottom: 1px solid rgb(233, 233, 233);
        }
    }
    &__order-btn{
        padding-top: 20px;
        padding-bottom: 20px;
        button{
            padding: 13px 52px ;
            font-size: 18px;
        }
    }

}
.twitter{
    margin: 0 auto;
    position: relative;
    background: url(../img/twitter/bg.png) no-repeat center;
    background-color: #272727;
    height: 294px;
    text-align: center;
    color: #fff;
    .deco-stroke{
        width: 100%;
        z-index: 10;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .deco-stroke::before{
        z-index: 100;
    }
    p{
        width: 60%;
        margin: 0 auto;
    }
    img{
        margin-bottom: 0px;
        margin-top: 147px;
        transform: translateY(-100%);
    }

}
.blog{
    .common-btn{
        position: absolute;
        bottom: 0;
        padding: 15px;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: 300;
    }
    &__card{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    &__preview{
        width: 40%;
        vertical-align: top;
        display: inline-block;  
        height: 245px;
    }
    &__description{
        position: relative;
        height: 245px;
        margin-left: 30px;
        display: inline-block;
        width: 55%;
        h3{
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 20px;
            color: #2e2e2e;
        }
        p{
            color: #505050;
            margin-bottom: 32px;
        }
    }
    &__stat{
        display: flex;
        margin: 20px 0;
        color: #a2a2a2;
        font-size: 12px;
        padding: 0;
    }
    &__info{
        margin-right: 22px;
        display: inline-block;
        height: auto;
        img{
            margin-right: 10px;
            display: inline-block;
        }
        p{
            margin: 0;
            display: inline-block;
        }
    }
    &__btn{
        transition: all 0.1s ease-in-out;
        margin: 0 auto;
        display: block;
        margin-top: 55px;
        margin-bottom: 100px;
        border: none;
        background: none;


    }
    &__btn:hover{
        transform: scale(1.2);
        transition: 0.2s;
    }
}
.follow{
    color: #fff;
    position: relative;
    .common-action{
        margin: 0;
    }
    h3{
        padding-top: 100px;
        padding-bottom: 50px;
        margin: 0;
        color: #fff;
    }
    p{
        color: #fff;
    }
    &__counters{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__card{
        text-align: center;
        margin-right: 50px;
        font-size: 16px;
        img{
            margin-bottom: 40px;
        }
    }
    &__card:last-child{
        margin-right: 0px;
    }
    .deco-stroke{
        width: 100%;
        z-index: 10;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .deco-stroke::before{
        z-index: 100;
    }
    background: url(../img/follow/bg.png);
    height: 384px;
}
.find{
    &__adress{
        vertical-align: top;
        text-align-last: left;
        margin-right: 130px;
        margin-top: 250px;
        display: inline-block;
        background-color: #262626;
        width: 300px;
        
        ul{
            padding: 0;
            padding: 30px 100px 10px 25px;
            list-style: none;
            li{
                line-height: 16px;
                font-size: 16px;
                color: #fff;
                font-family: 'Myraid Pro';
                margin-bottom: 14px;
            }
            li:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__map{
        text-align: right;
        padding: 0 15%;
        height: 575px;
        background: url(../img/find/bg.png) center;
        
    }
    &__form{
        
        display: inline-block;
        margin-top: 100px;
        width: 45%;
        padding: 50px 40px;
        padding-bottom: 0;
        background-color: rgba(255, 255, 255, 0.877);
        .find__input{
            
            display: block;
            width: 100%;
            padding: 8px 0;
            padding-left: 15px;
            border: 1px solid rgb(226, 226, 226);
            margin-bottom: 17px;
            
        }
        textarea{
            resize: none;
            width: 100%;
            height: 87px;
        }
        h3{
            text-align-last: left;
            margin-bottom: 50px;
        }
    }
    &__btn{
        padding: 15px 30px;
        margin-bottom: 15px;
    }
}

// ADAPTIVE
@media screen and (max-width: 990px){
    .about__img{
        display: none;
    }
    header {
        .logo {
            
            display: none;
        }
        nav {
            ul{
                font-size: 14px;
            }
            
        }
    }
    .portfolio {
        ul{

            display: block;
            li{
                display: block;
            }
        }
    }
    .features{
        margin: 0 auto;
        .features__left-aside, .features__right-aside{
            ul {
                width: 100%;
                li{
                    
                    width: 100%;
                    font-size: 16px;
                    p{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .features__right-aside{
            transform: translateX(0);
        }
        &__img{

            img {
                display: block;
                margin: 0 auto;
                width: 320px;
            }
        }
    }
    .clients{
        &__sponsors{
            grid-template-columns:49% 49%;
            grid-template-rows: 100px 100px;
            grid-gap: 5px;
            padding-bottom: 0;
        }
    }
    .team{
        &__loaders {
            
            display: block;
        }
        &__loader{
            width: 30%;
            display: inline-block;
            margin-right: 20px;
           
           
        }
   }
   .services{
    &__grid{
        display: block;
    }
}
    .price{
        &__list{
            display: block;
            text-align: center;
        }
        &__card{
            display: inline-block;
            width: 300px;
            
        }
    }
    .blog{
        &__card{
            text-align: center;
            button{
                position: relative !important;
                
                margin: 0 auto;
                
            }
        }
        &__preview{
            margin: 0 auto;
            display: block;
            width: 60%;
            margin-bottom: 20px;
        }
        &__stat{
            text-align: center;
            display: block;
        }
  
    }
    .follow{
        .common-action{
            h3{
                padding: 20px;
            }
        }
        &__counters{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        &__card{
            width: 40%;
            display: inline-block;
            margin: 0;
            img{
                margin-bottom: 10px;
            }
        }
    }
}
@media screen and (max-width: 550px){
    header {
        position: relative;
        height: 250px;
        border-bottom: 2px solid #ff0036;
        nav {
                       
            ul {
                
                width: 320px;
                display: block;
                margin: 0 auto;
                li{
                    width: 300px;
                    height: 30px;
                }
 
            }                 
        }         
    };
    .slider {
        &__arrow{
            display: none;
            
        }
        &__btn-block{
            button:first-child{
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    .clients{
         &__sponsors{
             display: block;
             .clients__visit-card{
                 margin-bottom: 10px;
             }
         }
    }
    .team{
         &__loaders {
             
             display: block;
         }
         &__loader{
            margin: 0 auto;
            
         }
    }
    .features{
        &__img{
            img{
                width: 280px;
            }
        }
    }
    .team{

        &__loader{
            width: 50%;
        }
   }
   .price{
    &__card{
        display: inline-block;
        width: 300px;
        margin: 0;
        
    
}
}
    .twitter{
        img{
            margin-top: 40px;
            margin-bottom: 40px;
            transform: translateY(0);
        }
    }
    .blog{
        &__preview{
            width: 280px;
            margin: 0 auto;
        }
        &__description{
            width: 100%;
            margin: 0;

        }
    }
    .find{
        &__adress{
            margin: 40px 0;
        }
        &__map{
            padding: 0 2%;
        }
        &__form{
            display: block;
            margin: 0;
            width: 100%;
            h3{
                text-align: center;
            }
        }
        &__btn{
            display: block;
            margin: 0 auto;
        }
    }
    .portfolio{
        &__row{
            min-width: 320px;
            display: block;
        }
        &__img{
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}